.CFUserTextEncoding
.DS_Store
.MacOSX
.Trash
.Xauthority
.Xcode
.android
.authinfo
.autotest
.bash_history
.bash_profile~
.boson
.cake
.cheat
.config
.crash_report_checksum
.crash_report_frames
.crash_report_preview
.cups
.cvspass
.dropbox
.eclipse
.eclipse_keyring
.eshell
.folders
.fontconfig
.fonts
.gem
.gitk
.gnupg
.gnus.el
.hcl_config
.hcl_tasks
.heroku
.hudson_backup
.ido.last
.irb-history
.irb_history
.ivy2
.jline-clojure.main.history
.lein
.lesshst
.m2
.mysql_history
.netbeans
.netrc
.newsrc
.newsrc.eld
.npm
.oces
.oces2
.oh-my-zsh
.pip
.pow
.pry_history
.psql_history
.rbenv
.rdebug_hist
.rdoc
.rubinius_last_error
.rvm
.sbt.cache.lock
.scala_history
.sh_history
.slime-history.eld
.sqlite_history
.ssh
.subversion
.todo-do
.twittering-mode.gpg
.vegas
.vimfuzzyfinder
.viminfo
.zcompdump
.zsh-update
.zsh_history
Applications
Big
Desktop
Documents
Downloads
Dropbox
Games
Kindle
Library
Mail
Movies
Music
News
Pictures
Public
__MACOSX
bin
danid.log
danid.log.1
default-soapui-workspace.xml
ievpc
org
oss
projects
railsconf
seed.bin
seed.bin.cpgz
sound_samples
tmp
user
wb
wbDropbox
.vim/.netrwhist
vbox
